<div class="search-engine">
    <h1>{{siteTitle}}</h1>
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Search..." required>
      <br>
      <button type="submit">Search</button>
    </form>
  </div>